*{
    font-family: 'Poppins',sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #fbfbfb;
}

.sidebar{
    background-color: rgb(36, 39, 69);
    box-shadow: 0px -1px 6px -1px rgba(42, 67, 86, 0.2);
    width: 270px;
    height:100%;
    position: fixed;
    height: calc(100vh-32px);
    transition: 0.4s ease;
    display: block;
}
.sidebar.collapsed{
   width:85px;
}
.sidebar-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:25px 20px;
}
.sidebar-nav .nav-list{
    list-style: none;
    display: flex;
    gap:4px;
    flex-direction: column;
    text-decoration: none;
    transition: 0.4 ease;
    padding: 25px 10px;
}
.sidebar-header .toggler{
    height:40px;
    width:40px;
    background:#fff;
    border:none;
    cursor:pointer;
    align-items: center;
    justify-content: center;
    border-radius:8px;
}
.fa-table-columns,.fa-book,.fa-calendar,.fa-lock,.fa-gear,.fa-user,.fa-right-from-bracket{
    margin-left:3px;
}
.sidebar.collapsed .sidebar-header .toggler{
    transform:translate(-45px,65px);
}
.sidebar.collapsed .sidebar-nav .primary-nav{
    transform: translateY(65px);
}
.sidebar-header .header-logo img{
    width:50px;
    display: block;
    object-fit: contain;
}
.sidebar-nav .nav-link{
    color:#fff;
    text-decoration: none;
    display: flex;
    gap:12px;
    align-items: center;
    padding:18px 20px;
    text-decoration: none;
    transition:0.4 ease-in-out;
    border-radius: 8px;
}
.sidebar-nav .nav-link:hover{
    color:#151a2d;
    background: #fff;
    transition: 0.3s;
    
}
.sidebar.collapsed .sidebar-nav .nav-link .dash{
    opacity:0;
    pointer-events: none;
}

button.toggler.menu-toggler{
    display: none;
}
.third_nav{
    box-shadow: 4px 3px 8px 0px rgba(141, 155, 165, 0.2);
    display: flex;
    background-color: #ffffff;
    justify-content: right;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
}

.icons{
    margin-right:40px;
    font-size:18px;
}
.photo1{
    width:30px;
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
}
.lists{
    display: flex;
    justify-content:space-between;
}
.link1{
    color:#ffe81a;
    margin-right:30px;
}
.pic{
    display: flex;
    margin-top:5px;
}
.pic h5{
    margin-top:5px;
    margin-right:10px;
    color:#a2a0a0;
}
.icons{
    color: #d9d9d9;
    margin-top:6px;
    margin-left:30px;
}
.result-container{
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    gap:60px;
    padding:15px 20px;
    margin:20px;
    margin-left:350px;
    width:70%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.pic{
    width:150px;
    border-radius: 4px;
}
.name,.grade{
    margin-top: 10px;
}
#overall-gpa,.credit{
    text-align: right;
    margin-right:120px;
}
footer{
    background-color: #a1a9c1;
    color: #fff;
    margin-top:50px;
}
.footer-content{
    padding: 20px;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.links{
    list-style-type: none;
    margin-left:40px;
}
h3.ftext{
    margin-left:10px;
}
.heading1{
    text-align: left;
    margin-left:360px;
    font-weight: 500;
    font-size: 20px;
    margin-top:10px;
    color:#343a40;
}
.student{
    text-align: left;
    margin-left: 360px;
    font-size: 14px;
}
table {
    border-collapse: collapse;
    margin-left:350px;
    background-color: #fff;
    border: 2px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:70%;
    margin-top:30px;
    padding:20px;
}
.table-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    color: #343a40;
}

.highlight {
    background-color: #f8f9fa;
}
.highlight2 {
    background-color: #e5e6e6;
    padding: 10px 20px;
    border:1px solid #c1c1c1;
}
.filter{
    display: flex;
    align-items: center;
    text-align: center;
    padding:10px;
    margin:30px;
    gap:10px;
    background-color: #fff;
    box-shadow: 4px 3px 8px 0px rgba(141, 155, 165, 0.2);
    width:230px;
    cursor: pointer;
}
.all-selections{
    display: flex;
    justify-content: left;
    margin-left:550px;
    text-align: center;
}
.grade-text{
    text-align: left;
    margin-left:360px;
    font-weight: 500;
    font-size: 20px;
    margin-top:10px;
    color:#343a40;
    margin-top:50px;
}
.homework{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.statistic-container {
    display: flex;
    margin-left: 360px;
    align-items: center;
    margin-left:360px;
    box-shadow: 4px 3px 8px 0px rgba(34, 60, 80, 0.2);
    width:400px;
    height:250px;
    margin:10px;
    padding:20px;

}
.homework{
    margin-left:360px;
}
.skill {
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:-1;
    margin-right:30px;
}

.inner {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: white;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7);

}
.number {
    font-weight: 600;
    color: #555;
}
.staic-container h4{
    margin-left:50px;
}
.name-subject p{
    width:130px;
    gap: 20px;
}
.progress {
    stroke-dasharray: 440; 
    stroke-dashoffset: 132; 
    transform-origin: center;
    transition: stroke-dashoffset 1s ease-out;
}
.progress2{
    stroke-dasharray: 440; 
    stroke-dashoffset: 36; 
    transform-origin: center;
    transition: stroke-dashoffset 1s ease-out;
}
.progress3{
    stroke-dasharray: 440; 
    stroke-dashoffset: 132; 
    transform-origin: center;
    transition: stroke-dashoffset 1s ease-out;
}
.progress4{
    stroke-dasharray: 460; 
    stroke-dashoffset:20; 
    transform-origin: center;
    transition: stroke-dashoffset 1s ease-out;
}